section {
  border: 1px solid #000;
  padding: 1rem;

  header {
    margin-bottom: 1rem;
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: var(--gray-color);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
  width: 100%;
  padding: .4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: .5rem;
}

ul {
  width: 100%;
  list-style: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
}

.completed {
  text-decoration: line-through;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: var(--dark-color);
  padding: .4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: .5rem;
  transition: opacity .2s;
  outline: none;

  &:disabled {
    background: var(--dark-color);
    color: var(--wight-color);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    opacity: .8;
  }
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--primary {
  background: var(--primary-color);
  color: var(--wight-color);
}

.btn--secondary {
  margin-left: auto;
  margin-right: 1rem;
  background: var(--primary-color);
  color: var(--wight-color);
}

.text--center {
  text-align: center;
}




