/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --primary-color: #dc3545;
  --secondary-color: #0000FF;
  --dark-color: #2d2d2d;
  --light-color: #f4f4f4;
  --gray-color: #666;
  --wight-color: #fff;
  --hover-color: #eee;
  --body-color: #FCFCFC;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.05rem;
  line-height: 1.6;
  background: var(--body-color);
  color: var(--dark-color);
}








